.wrapper {
  width: 89.92%;
  max-width: 1366px;
  margin: 0 auto;
}

a { text-decoration: none; }
li { list-style: none; }

.header {
  background-color: #00497e;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary__heading-logo {
  color: #a5a5a5;
}

.navigation__menu {
  display: flex;
}

.navigation__menu-list {
  margin-right: 35px;
}

.navigation__menu-list:last-child {
  margin-right: 0;
}

.navigation__menu-list a {
  /* margin: 19px 0 18px; */
  display: block;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
}


.todolists {
  display: flex;
}

.todolists h2, h3, h4 {
  margin: 0;
  padding: 20px;
  border: 1px solid #000;
  flex-basis: 25%;
  text-align: center;
}

.edit-btn { color: #1dae25; }
.delete-btn { color: crimson; }